<% layout ("/layout/boilerplate") %>

    <body>

            <br>
            <div class="show">
                <h1>
                    <%= listing.title %>
                </h1>
                <img src="<%= listing.image.url %>" alt="">
                <p>
                    <%= listing.description %>
                </p>
                <p><b> Price:</b> &#8377;<%= listing.price %> per night </p>
                <p><b> Location: </b>
                    <%= listing.location %>
                </p>
                <p><b>Country: </b>
                    <%= listing.country %>
                </p>
            </div>
            <div id="flexS">
                <form method="GET" action="/<%= listing._id %>/edit">
                    <button class="btn btn-primary" type="submit">Edit</button>
                </form>
                
                <form method="POST" action="/<%=listing._id%>?_method=DELETE">
                    <button class="btn btn-primary" type="submit">Delete </button>
                </form>
            </div>
            <div>
                <hr>
                <h2>Reviews</h2>
                <form>
                    <div>
                        <label for="rating" class="">Rating</label>
                        <input type="range" min="0" max="5" step="1" id="rating" name="review[rating]" >
                    </div>
                    <div>
                        <label for="comment" class="" >Comments</label>
                        <br>
                        <textarea name="review[comment]" id="comment" class="" cols="30" rows="5" ></textarea>
                    </div>
                    <button calss=" ">submit</button>
                </form>
            </div>
    </body>