<% layout ("/layout/boilerplate") %>

    <body>

        <br>
        <div class="show">
            <h1>
                <%= listing.title %>
            </h1>
            <img src="<%= listing.image.url %>" alt="">
            <p>owned by <i><%= listing.owner.username %></i></p>
            <p>
                <%= listing.description %>
            </p>
            <p><b> Price:</b> &#8377;<%= listing.price %> per night </p>
            <p><b> Location: </b>
                <%= listing.location %>
            </p>
            <p><b>Country: </b>
                <%= listing.country %>
            </p>
        </div>
        <div id="flexS">
            <form method="GET" action="/<%= listing._id %>/edit">
                <button class="btn btn-primary" type="submit">Edit</button>
            </form>

            <form method="POST" action="/<%=listing._id%>?_method=DELETE">
                <button class="btn btn-primary" type="submit">Delete </button>
            </form>
        </div>
        <hr>
        <div class="col-8 offset-3 mb-3">
            <h4><i>Reviews</i></h4>
            <form action="/<%= listing._id %>/reviews" method="POST" novalidate class="need-validation">
                <div class="mb-3 mt-3">
                    <label for="rating" class="form-label">Rating</label>
                    <input type="range" min="0" max="5" step="1" id="rating" name="review[rating]">
                </div>
                <div class="mb-3 mt-3">
                    <label for="comment" class="form-label">Comments</label>
                    <br>
                    <textarea name="review[comment]" id="comment" class="form-control" cols="30" rows="5" required></textarea>
                    <div class="invalid-feedback">Please submit some comment for review</div>
                </div>
                <button calss="btn btn-outline-dark ">submit</button>
            </form>
        </div>
        <hr>
        <div class="col-8 offset-3 mb-3">
            <h4><i>All Reviews</i></h4>
            <div class="row">
                <% for(let review of listing.reviews) { %>
                    <div class="card col-5 ms-3 mb-3">
                        <div class="card-body">
                            <h5 class="card-title"> @Username </h5>
                            <p class="card-text"> <%= review.comment %> </p>
                            <p class="card-text"> <%= review.rating %> Stars </p>
                            <form method="POST" action="/<%=listing._id%>/reviews/<%= review._id%>?_method=DELETE">
                                <button class="btn btn-sm btn-dark">Delete</button>
                            </form>
                        </div>
                    </div>
                <% } %>
            </div>
        </div>
    </body>